:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75); /*use for paragraph*/
    --very-light-gray: hsl(0, 0%, 95%) /* use for background, headings, buttons */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

body,.btn-more {
    background-color: var(--very-light-gray);
}

.title{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    color: var(--very-light-gray);
    text-transform: uppercase;
}

.description {
    color: var(--transparent-white);
    line-height: 1.6em;
    font-weight: 100;
}

.container{
    border-radius: 10px;
    display: grid;
}

.category{
    padding: 2em;
}

.orange{
    background-color: var(--bright-orange);
}
.orange > .btn-more:hover{
    background-color: var(--bright-orange);
    border: 1px solid #fff;
    color: #fff;
}

.orange .btn-more{
    color: var(--bright-orange);
}

.cyan{
    background-color: var(--dark-cyan);
}

.cyan > .btn-more:hover{
    background-color: var(--dark-cyan);
    border: 1px solid #fff;
    color: #fff;
}

.cyan .btn-more{
    color: var(--dark-cyan);
}

.dark-cyan{
    background-color: var(--very-dark-cyan);
}

.dark-cyan > .btn-more:hover{
    background-color: var(--very-dark-cyan);
    border: 1px solid #fff;
    color: #fff;
}

.dark-cyan .btn-more{
    color: var(--very-dark-cyan);
}

.car-icon{
    width: 3em;
}

.btn-more{
    border: none;
    border-radius: 20px;
    padding: .8em 2em;
    align-self: start;
}


@media (max-width: 375px) {
    .container {
        max-width: 350px;
        grid-template-rows: repeat(3, 1fr);
    }

    .category{
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        padding: 2em 4em;
    }

    .orange{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .dark-cyan {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (min-width: 376px) {
    body{
        height: 100vh;
    }
    .container {
        max-width: 992px;
        grid-template-columns: repeat(3, 1fr);
    }
    .category{
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .orange{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .dark-cyan{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}